Edx notes:
Classification task vs Regression task
- when we need to predict a classification out of inpit data, like yes/no ,  
    weather condition - windy, cloudy, rainy, sunny etc
    this is a classification task
- when we need to predict a number out of input data, like stock price, sale percentage etc
    this is a regression task
    
what is PCA:
principal component analysis, or PCA.
Is used for doing feature extraction.
Starting with a large number of factors,
and using them to generate a small number of factors
that you can use to fit to a model.
PCA is also useful for removing correlation.
It changes the coordinates to remove correlation between 2 variables and it ranks the coordinate dimensions in order of the amount of variants in each so the most important coordinates are first.
Concentrating on the first end principal components can also have the benefit of reducing
the effect of randomness.

In [1]:
# data types
x=3
y=3.0
x==y

True

In [2]:
x is y

False

In [4]:
# string functions
x='HAPPY'
x.lower()

'happy'

In [8]:
x # x is still not pointing to result of x.lower, we have to assign it
x = x.lower()

In [9]:
x.capitalize()

'Happy'

In [10]:
x

'happy'

In [11]:
#loops
for i in range(2, 12, 3):
    print(i)

2
5
8
11

In [12]:
i = 2
while i < 12:
    print(i)
    i+=3

2
5
8
11

In [13]:
i = 0
while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(0,10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [16]:
for i in range(0,5):
    if i % 2 == 0:
        print(i)
    else:
        print(10+i)

0
11
2
13
4

In [19]:
#functions
def my_absolute(n):
    if n < 0:
        print(0-n)
    else:
        print(n)

print(my_absolute(-2.8)) # Function doesnt return anything, hence returned None by python

2.8
None

In [18]:
print(my_absolute('Hi'))

TypeError: '<' not supported between instances of 'str' and 'int'

In [20]:
def inc_val(n):
    n = n+1

x=7
print(inc_val(x))
print(x)

None
7

In [22]:
#strip function
s = '                    hi   \n'
print(s.strip()) # strips garbage

hi

In [27]:
# strip unwanted chars from start and end 
s = '********************10*****'
print(s.strip('*'))

10

In [31]:
#replace unwanted chars and check performance
import timeit

setup = """import re
import string
s = 'Barack (of {Wash<ME>}ington)'
bad_chars = '(){}<>'
rgx = re.compile('[%s]' % bad_chars)"""

timer = timeit.Timer('o = "".join(c for c in s if c not in bad_chars)', setup=setup)
print("List comprehension: ",  timer.timeit(100000))


timer = timeit.Timer("o= rgx.sub('', s)", setup=setup)
print("Regular expression: ", timer.timeit(100000))

timer = timeit.Timer('for c in bad_chars: s = s.replace(c, "")', setup=setup)
print("Replace in loop: ", timer.timeit(100000))

List comprehension:  0.39956489999985934
Regular expression:  0.2018764000004012
Replace in loop:  0.14779450000060024

In [33]:
# split a string into list elements
s = "Jane,Doe,Cars,5"
s.split(",")

['Jane', 'Doe', 'Cars', '5']

In [36]:
# string slicing
word = 'HELLO'
word[0:3], word[4:9], word[-4:-1]

('HEL', 'O', 'ELL')

In [37]:
# if a sunstring exists in a word
word = 'Hello'
'HE' in word

False

In [38]:
'He' in word

True

In [40]:
# search for a substring
word.find('el') # returns starting position of substring

1

In [41]:
#type casting
int('123')

123

In [42]:
float('123')

123.0

In [43]:
int('Hi')

ValueError: invalid literal for int() with base 10: 'Hi'

In [44]:
#string formatting
statement = 'We love {} {}.'
statement.format('data', 'analysis')

'We love data analysis.'

In [45]:
statement = 'We love {0} {1}.'
statement.format('data', 'analysis')

'We love data analysis.'

In [46]:
statement = 'We love {1} {0}.'
statement.format('data', 'analysis')

'We love analysis data.'

In [54]:
#list & functions
list = [11,22,33]
list[0]

11

In [55]:
list[4]

IndexError: list index out of range

In [56]:
for i in list:
    print(i)

11
22
33

In [57]:
for i in range(0, len(list)):
    print(list[i])

11
22
33

In [58]:
list[1] = 90
list

[11, 90, 33]

In [59]:
list.append(44)
list

[11, 90, 33, 44]

In [60]:
list.pop(2) # index location to remove

33

In [61]:
list

[11, 90, 44]

In [62]:
list.remove(11) # value to remove

In [63]:
list

[90, 44]

In [65]:
list1 = [11,22,33]
list2 = [44,55]
list1.extend(list2)
list1

[11, 22, 33, 44, 55]

In [67]:
list1.append(list2)
list1

[11, 22, 33, 44, 55, [44, 55], [44, 55]]

In [69]:
list1 = [1,2,3]
list2 = [4,5,6]
for x,y in zip(list1, list2):
    print(x, ', ', y)

1 ,  4
2 ,  5
3 ,  6

In [70]:
# lists are **mutable
x = [10,20,30]
y = x
x[1] = 42
print(y)

[10, 42, 30]

In [76]:
# if we do not want y value to change, make a copy of x and assign to y:
x = [10,20,30]
y = list(x)
x[1] = 42
print(y)

[10, 42, 30]

In [80]:
# tuples - immutable - cant change
car = ('Honda', 'Civic', 4, 2017)
car[1]

'Civic'

In [81]:
for i in car:
    print(i)

Honda
Civic
4
2017

In [82]:
#immutable
car[3] = 2018

TypeError: 'tuple' object does not support item assignment

In [83]:
#Dictionaries
dict1 = {1:'hi', 2:'there'}
dict2 = {('Ghostbusters', 2016): 4.5, ('Ghostbusters', 1984): 7.8}

In [84]:
#access dict item
dict2[('Ghostbusters', 2016)]

4.5

In [85]:
len(dict2)

2

In [86]:
dict2[('Cars', 2006)] = 7.1

In [87]:
dict2 # unordered

{('Ghostbusters', 2016): 4.5, ('Ghostbusters', 1984): 7.8, ('Cars', 2006): 7.1}

In [94]:
# instead of accessing unknowen key, first use get
x = dict2.get(('Cars', 2006))
x

7.1

In [95]:
x = dict2.get(('Toy story', 1995))
x == None

True

In [96]:
('Toy Story', 1995) in dict2

False

In [97]:
dict2

{('Ghostbusters', 2016): 4.5, ('Ghostbusters', 1984): 7.8, ('Cars', 2006): 7.1}

In [98]:
dict2.pop((('Cars', 2006)))

7.1

In [102]:
dict2[('Cars', 2006)] = 8.2

In [103]:
del dict2[('Cars', 2006)]

In [104]:
for key, val in dict2.items():
    print(key, '--', val)

('Ghostbusters', 2016) -- 4.5
('Ghostbusters', 1984) -- 7.8

In [105]:
# bad practise and throws error
for i in dict2:
    dict.pop(i)

TypeError: descriptor 'pop' requires a 'dict' object but received a 'tuple'

In [106]:
# if need to remove items from dictionary, collect them in a list while iterating and later remove them
dict3 = {('Ghostbusters', 2016): 4.5, ('Ghostbusters', 1984): 7.8, ('Cars', 2006): 7.1, ('Toy story', 1995): 7.4}
to_remove = []
for i in dict3:
    if i[1] < 2000:
        to_remove.append(i)
        
for i in to_remove:
    dict3.pop(i)
    
dict3

{('Ghostbusters', 2016): 4.5, ('Cars', 2006): 7.1}

In [108]:
# List comprehension
list = [i**2 for i in range(1,11)]
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [110]:
list = [i for i in range(0,6)]
list

[0, 1, 2, 3, 4, 5]

In [111]:
list = [i%2 for i in range(0,10)]
list

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [112]:
# get 10 random intergers from 0 to 5
import random
list = [random.randint(0,5) for i in range(0,10)]
list

[1, 5, 4, 1, 3, 4, 0, 1, 2, 3]

In [113]:
# dict comprehension
dict = {i : i**2 for i in range(1,11)}
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [117]:
dict = {i : chr(i) for i in range(65,90)}
dict

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y'}

In [118]:
# set - unordered, unique values, support set operations as union, intersection
leos_colors = set(['blue', 'red', 'green'])
leos_colors

{'blue', 'green', 'red'}

In [120]:
leos_colors.add('orange')
leos_colors

{'blue', 'green', 'orange', 'red'}

In [121]:
leos_colors.add('blue') # no repeated entry can be added
leos_colors

{'blue', 'green', 'orange', 'red'}

In [123]:
# to discard entry
leos_colors.discard('orange')
leos_colors

{'blue', 'green', 'red'}

In [126]:
colors1 = set(['blue', 'green', 'red'])
colors2 = set(['orange', 'gray', 'black', 'red', 'blue'])
all = colors1.union(colors2) # UNION of 2 sets 'red' & blue appears only once
all

{'black', 'blue', 'gray', 'green', 'orange', 'red'}

In [132]:
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set1.intersection(set2)

{4, 6}

In [130]:
#UNION = | OR operation
# Intersection = & AND operator
colors1 | colors2

{'black', 'blue', 'gray', 'green', 'orange', 'red'}

In [135]:
set1 & set2

{4, 6}

In [1]:
365 * 12 * 45 * 90

17739000

In [2]:
_ / 1e6 # converts above output into millions

17.739

This is a Latex equation:


$\int_0^\infty x^{-\alpha}$